body{

	background-color: #E0FFFF;
	color: #008080;
	margin-left: 10%;
	margin-right: 10%;
	font-family: 'Kaisei HarunoUmi', serif;
}
h1{
	color:	#008080;
	text-align: center;
}

h2{
	color: #00008B;
}
p{
	font-size: 19px;
	text-align: justify;
	text-indent: 3em;
}
img{
	width: 60%;
}
figure{
	text-align: center;
}
ul{ font-size: 22px;
	color: #008080;

 }
 ol{ font-size: 22px; 
 color: #008080;}

 iframe {text-align: center;}
